{% extends 'base.html' %}
{% load static %}

{% block nav %}
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link " href="{% url "accounts:profile-update" %}">Update</a>
      </li>
    <li class="nav-item">
        <a class="nav-link " href="{% url "accounts:password-update" %}">Password</a>
      </li>
    {% endif %}
{% endblock nav %}

{% block content %}
    <div class=" row display-flex">
        <div class="col-md-8 p-4">
            <ul>
                <li>Логин: {% if user_object.username  %}{{ user_object.username }}{% else %}Отсутсвует{% endif %}</li>
                <li>Имя: {% if user_object.first_name %}{{ user_object.first_name }}{% else %}Отсутсвует{% endif %}</li>
                <li>Email: {% if user_object.email %}{{ user_object.email }}{% else %}Отсутсвует{% endif %}</li>
            </ul>
        </div>
    </div>
    {% if user_object.review.all %}
        <h3>Reviews</h3>
    {% include 'review/product_review_list.html' with reviews=user_object.review.all %}
    {% else %}
    <h3> No reviews</h3>
    {% endif %}
{% endblock content %}