{% extends 'base.html' %}
{% load static %}

{% block title %}Главная{% endblock title %}
{% block content %}
    <div class="row">
        {% for product in products %}
            <div class="">
                <div class="d-flex flex-row p-4">
                    <div>
                        <img  src="{% if product.picture %}{{ product.picture.url }}{% else %}{% static 'img/no-img.png' %}{% endif %}" class="card-img-top products-img" alt="...">
                    </div>

                    <div class="m-4">
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.category }}</p>
                        <p>Средняя оценка:{{ product.get_rate }}</p>
                        <a href="{% url 'otzovik:product-view' product.id %}" class="btn btn-outline-primary">Детальный просмотр</a>

                    </div>

                </div>

            </div>
        {% endfor %}
    </div>

{% endblock content %}