{% extends 'base.html' %}
{% load static %}

{% block title %}Товар{% endblock title %}
{% block nav %}
  <li class="nav-item">
    <a class="nav-link " href="{% url "otzovik:product-update" product.id %}">Редактировать товар</a>
  </li>
    <li class="nav-item">
    <a class="nav-link  text-danger " href="{% url "otzovik:product-delete" product.id %}">Удалить товар</a>
  </li>
{% endblock nav %}
{% block content %}
    <div class="row">

        <div class="card border-0" >
          <img  src="{% if product.picture %}{{ product.picture.url }}{% else %}{% static 'img/no-img.png' %}{% endif %}" class="card-img-top product-img"  alt="...">
          <div class="card-body">
            <h5 class="card-title">
                {{ product.name }}
            </h5>
            <p class="card-text">{{ product.description }}</p>
            <p>{{ product.category }}</p>
            <a href="{% url 'otzovik:review-create' product.pk %}" class="btn btn-primary">Создать отзыв</a>
          </div>
        </div>
    {% include 'review/product_review_list.html' %}
    </div>

{% endblock content %}